# load .env file - true or false, default true
LOAD_DOTENV=true

# production, development, test
# - logger pretty output in development
# - error responses with stack traces in development
# - validation errors with details in development
NODE_ENV=development

# info, warn, error
LOG_LEVEL=info

PORT=3000

POSTGRES_URL=postgres://postgres:postgres@localhost:5555/postgres

VALKEY_HOST=localhost
VALKEY_PORT=6666
VALKEY_USER=admin
VALKEY_PASSWORD=admin
