services:
  postgres:
    image: postgres:18
    shm_size: 128mb
    volumes:
      - ./postgres/postgresql.conf:/config/postgresql.conf:ro
      - postgres-storage:/var/lib/postgresql
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
      PGDATA: '/var/lib/postgresql/18/docker'
      POSTGRES_INITDB_ARGS: '--auth-host=scram-sha-256 --auth-local=scram-sha-256'
    ports:
      - '5432:5432'
    command: ["postgres", "-c", "config_file=/config/postgresql.conf"]
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB -h 127.0.0.1 || exit 1']
      interval: 2s
      timeout: 2s
      retries: 30
      start_period: 2s
volumes:
  postgres-storage:
